<div class="account-popup modal">
  <div class="popup-wrapper">
    <div class="popup-header d-flex space-between align-center">
      <h2 class="title">MY ACCOUNT</h2>
      <div class="popup-close">{% render 'icon' with 'icon-close' %}</div>
    </div>
    <div class="popup-tab d-flex">
      <div class="popup-tab-item popup-tab-login active" data-target="login">Log in</div>
      <div class="popup-tab-item popup-tab-register" data-target="register">Registration</div>
    </div>
    <div class="popup-form-wrapper">
      <div class="popup-form form-login active" data-handle="login">
        {% render 'form-login' %}
      </div>
      <div class="popup-form form-register" data-handle="register">
        {% render 'form-register' %}
      </div>
    </div>
  </div>
</div>

<script>
  document.querySelector('.account-popup-open').addEventListener('click', function() {
    var $popup = document.querySelector('.account-popup');
    $popup.classList.add('open');
    document.documentElement.classList.add('js-drawer-open');
    document.documentElement.classList.add('js-popup-drawer');
  })

  document.querySelectorAll('.account-popup .popup-tab-item').forEach(($tab) => {
    $tab.addEventListener('click', function() {
      var handle = $tab.getAttribute('data-target');
      
      document.querySelector('.account-popup .popup-tab-item.active').classList.remove('active');
      $tab.classList.add('active');

      document.querySelector('.account-popup .popup-form.active').classList.remove('active');
      document.querySelector('.account-popup .popup-form[data-handle="' + handle + '"]').classList.add('active');
    })
  })

  document.querySelector('.account-popup .popup-close').addEventListener('click', function() {
    var $popup = document.querySelector('.account-popup');
    $popup.classList.remove('open');
    document.documentElement.classList.remove('js-drawer-open');
    document.documentElement.classList.remove('js-popup-drawer');
  })
</script>