<div class="accordion-item{% if is_open %} active{% endif %}" data-handle="{{ title | handle }}">
  <div class="accordion-button font-LM d-flex space-between">
    {{ title }}
    <span class="icon icon-expanded">{% render 'icon' with 'icon-minus' %}</span>
    <span class="icon icon-closed">{% render 'icon' with 'icon-plus' %}</span>
  </div>
  <div class="accordion-content">{{ content }}</div>
</div>