{% comment %}
Snippet Arguments
- collection: Liquid 'collection' or 'search' object
- items: Paginated 'collection.products' or 'search.results' list. Cannot be pulled from the the 'collection' object passed in above
- enable_sidebar: boolean
- filter_style: 'sidebar' or 'drawer'
- enable_sort: boolean
- enable_collection_count
- per_row
- mobile_flush_grid
- quick_shop_enable
{% endcomment %}

{% liquid
  if collection.products
    assign count = collection.products_count
    assign count_label = 'collections.general.items_with_count'
  endif

  if collection.results
    assign count = collection.results_count
    assign count_label = 'general.search.result_count'
  endif

  assign filters = collection.filters
  assign sort_by = collection.sort_by
  assign default_sort_by = collection.default_sort_by
  assign sort_options = collection.sort_options
  assign current_filter_size = 0

  for filter in filters
    assign current_filter_size = current_filter_size | plus: filter.active_values.size
  endfor
%}

<div class="collection-grid__wrapper">
  <div class="collection-filter collection-filter-bar">
    <div class="collection-filter-bar-wrapper page-width d-flex">
      <div class="collection-filter__item collection-filter__item--drawer d-flex align-center">
        <button
          type="button"
          class="font-CG fs-m d-flex align-center js-drawer-open-collection-filters btn btn--tertiary{% unless current_filter_size == 0 %} btn--tertiary-active{% endunless %}"
          aria-controls="FilterDrawer">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M9 5C8.44772 5 8 5.44772 8 6C8 6.55228 8.44772 7 9 7C9.55228 7 10 6.55228 10 6C10 5.44772 9.55228 5 9 5ZM6.17071 5C6.58254 3.83481 7.69378 3 9 3C10.3062 3 11.4175 3.83481 11.8293 5H19C19.5523 5 20 5.44772 20 6C20 6.55228 19.5523 7 19 7H11.8293C11.4175 8.16519 10.3062 9 9 9C7.69378 9 6.58254 8.16519 6.17071 7H5C4.44772 7 4 6.55228 4 6C4 5.44772 4.44772 5 5 5H6.17071ZM15 11C14.4477 11 14 11.4477 14 12C14 12.5523 14.4477 13 15 13C15.5523 13 16 12.5523 16 12C16 11.4477 15.5523 11 15 11ZM12.1707 11C12.5825 9.83481 13.6938 9 15 9C16.3062 9 17.4175 9.83481 17.8293 11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H17.8293C17.4175 14.1652 16.3062 15 15 15C13.6938 15 12.5825 14.1652 12.1707 13H5C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11H12.1707ZM9 17C8.44772 17 8 17.4477 8 18C8 18.5523 8.44772 19 9 19C9.55228 19 10 18.5523 10 18C10 17.4477 9.55228 17 9 17ZM6.17071 17C6.58254 15.8348 7.69378 15 9 15C10.3062 15 11.4175 15.8348 11.8293 17H19C19.5523 17 20 17.4477 20 18C20 18.5523 19.5523 19 19 19H11.8293C11.4175 20.1652 10.3062 21 9 21C7.69378 21 6.58254 20.1652 6.17071 19H5C4.44772 19 4 18.5523 4 18C4 17.4477 4.44772 17 5 17H6.17071Z" fill="white" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            {{ 'collections.filters.title_tags' | t }}
            {%- if current_filter_size > 0 -%}
                ({{ current_filter_size }})
            {%- endif -%}
        </button>
      </div>

      {% comment %}

      <div class="collection-filter__item collection-filter__item--count small--hide">
        {%- if enable_collection_count -%}
          {{ count_label | t: count: count }}
        {%- endif -%}
      </div>

      {% endcomment %}

      <div class="collection-filter collection-filter--title font-LM fs-m hide--mobile">{{ collection.title }}</div>

      <div class="collection-filter__item collection-filter__item--sort d-flex align-center justify-end">
          <div class="collection-filter__sort-container h-100">
            {%- assign sort_by = sort_by | default: default_sort_by -%}

            <div class="btn_soring fs-m h-100 d-flex align-center">
              {% render 'icon' with 'icon-sorting' %}
              Sorting
            </div>

            <div class="sort_options">
              <div class="hide--desktop sort-option-header d-flex space-between align-center bg-black text-white">
                SORTING
                <span class="sorting-close"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"></path></svg></span>
              </div>
              <div class="options-wrapper appear-animation appear-delay-2">
                {%- for option in sort_options -%}
                  <li data-value="{{ option.value }}" class="{% if option.value == sort_by %}active{% endif %}">{{ option.name }}</li>
                {% endfor %}
              </div>
            </div>

            <label for="SortBy" class="hidden-label">{{ 'collections.sorting.title' | t }}</label>
            <select name="SortBy" id="SortBy" data-default-sortby="{{ default_sort_by }}" data--hidden>
              <option value="title-ascending"{% if sort_by == default_sort_by %} selected="selected"{% endif %}>{{ 'collections.sorting.title' | t }}</option>
              {%- for option in sort_options -%}
              <option value="{{ option.value }}"{% if option.value == sort_by %} selected="selected"{% endif %}>{{ option.name }}</option>
              {%- endfor -%}
            </select>
          </div>
      </div>
    </div>
  </div>

  <div class="collectino_title title hide--desktop font-LM">{{ collection.title }}</div>

  <div class="grid grid--uniform{% if mobile_flush_grid %} small--grid--flush{% endif %}"{% unless enable_collection_count %} data-scroll-to{% endunless %}>
    {%- for item in items -%}
      {%- if item.object_type == 'product' -%}
        {%- render 'product-grid-item',
          product: item,
          per_row: per_row,
          quick_shop_enable: quick_shop_enable
        -%}
      {%- else -%}
        {%- render 'search-grid-item',
          item: item,
          per_row: per_row
        %}
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>

{%- if enable_sidebar and filter_style != 'drawer' and collection.filters.size > 0 -%}
{% comment %}
  Sidebar enabled but not in drawer mode, only show filter button on mobile
{% endcomment %}
{% style %}
@media screen and (min-width: 769px) {
  .collection-filter__item--drawer {
    display: none;
  }
  .collection-filter__item--count {
    text-align: left;
  }
  html[dir="rtl"] .collection-filter__item--count {
    text-align: right;
  }
}
{% endstyle %}
{%- endif -%}

{%- if enable_sidebar == false or collection.filters.size == 0 -%}
{% comment %}
    Disable sidebar & filter features
{% endcomment %}
{% style %}
.collection-filter__item--drawer {
  display: none;
}
.collection-filter__item--count {
  text-align: left;
}
html[dir="rtl"] .collection-filter__item--count {
  text-align: right;
}
{% endstyle %}
{%- endif -%}

{%- unless enable_sort -%}
{% style %}
.collection-filter__sort-container {
  display: none;
}
{% endstyle %}
{%- endunless -%}

<script>
  document.querySelectorAll('.sort_options li').forEach(($opt) => {
    $opt.addEventListener('click', function() {
      document.querySelector('.sort_options li.active').classList.remove('active');
      $opt.classList.add('active');
      var sortVal = $opt.getAttribute('data-value');

      var queryParams = new URLSearchParams(window.location.search);
      queryParams.set('sort_by', sortVal);
      window.location.search = queryParams.toString();

    })
  })

  if(window.innerWidth < 768) {
    document.querySelector('.btn_soring').addEventListener('click', function() {
      const $sorting = document.querySelector('.sort_options');
      const $html = document.documentElement;
      if($html.classList.contains('js-drawer-sorting')) {
        $html.classList.remove('js-drawer-sorting');
        $html.classList.remove('js-drawer-open');
      }
      else {
        $html.classList.add('js-drawer-sorting');
        $html.classList.add('js-drawer-open');
      }
    })
  }

  document.querySelector('.sorting-close').addEventListener('click', function() {
    document.documentElement.classList.remove('js-drawer-sorting');
    document.documentElement.classList.remove('js-drawer-open');
  })

</script>