{%- assign form_id = 'contact-' | append: section.id -%}
{%- form 'contact', id: form_id -%}

  {%- if form.posted_successfully? -%}
    <p class="note note--success">
      {{ 'contact.form.post_success' | t }}
    </p>
  {%- endif -%}

  {{ form.errors | default_errors }}

  <div class="grid__item">
    {% comment %}<label for="ContactFormName-{{ section.id }}">{{ 'contact.form.name' | t }}</label>{% endcomment %}
    <input type="text" id="ContactFormName-{{ section.id }}" class="input-full" placeholder="Your Name" name="contact[name]" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
  </div>

  <div class="grid__item">
    {% comment %}<label for="ContactFormEmail-{{ section.id }}">{{ 'contact.form.email' | t }}</label>{% endcomment %}
    <input type="email" id="ContactFormEmail-{{ section.id }}" class="input-full" placeholder="Email" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
  </div>

  <div class="grid__item">
    {% comment %}<label for="ContactFormPhone-{{ section.id }}">{{ 'contact.form.phone' | t }}</label>{% endcomment %}
    <input type="tel" id="ContactFormPhone-{{ section.id }}" class="input-full" placeholder="Phone" name="contact[phone]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
  </div>

  <div class="grid__item">
    {% comment %}<label for="ContactFormMessage-{{ section.id }}">{{ 'contact.form.message' | t }}</label>{% endcomment %}
    <textarea rows="5" id="ContactFormMessage-{{ section.id }}" class="input-full" placeholder="Your Message" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
  </div>

  <button type="submit" class="btn">
    {{ 'contact.form.send' | t }}
  </button>

  {% comment %}
    Remove the following three lines of code to remove the note
    about being protected by Google's reCAPTCHA service.
    By removing it, the small reCAPTCHA widget will appear in the
    bottom right corner of the page.
  {% endcomment %}

  {% comment %}
  {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
  {% endcomment %}

{%- endform -%}