{%- if block.settings.logo -%}
  {%- style -%}
    .footer__logo a {
      max-height: {{ block.settings.desktop_logo_height }}px;
      min-height: {{ block.settings.desktop_logo_height }}px;
    }
  {%- endstyle -%}
  {%- assign footer_logo_size = block.settings.desktop_logo_height | prepend: 'x' -%}
  <div class="footer__logo d-flex m-fd-column">
    <a href="{{ routes.root_url }}">
      <img src="{{ block.settings.logo | img_url: footer_logo_size, scale: 2 }}" alt="{{ block.settings.logo.alt | default: shop.name }}">
    </a>
    {% if block.settings.info != blank %}
      <div class="info">{{ block.settings.info }}</div>
    {% endif %}
  </div>
  
  {% if section.settings.show_social %}
    <div class="footer_social_icons d-flex align-center">
      {% render 'social-icons' %}
    </div>
  {% endif %}
{%- endif -%}
