{%- form 'customer_login' -%}

  {{ form.errors | default_errors }}

  <div class="form-block">
    <input type="email" name="customer[email]" id="CustomerEmail" placeholder="Email Address" class="input-full{% if form.errors contains 'email' %} error{% endif %}" autocorrect="off" autocapitalize="off" autofocus>
  </div>

  <div class="form-block">
    <input type="password" value="" name="customer[password]" id="CustomerPassword" placeholder="Password" class="input-full{% if form.errors contains 'password' %} error{% endif %}">
  </div>


  {%- if form.password_needed -%}
    <div class="recovery_password">
      <a href="{{ routes.account_url }}#recover">
        Forgot your password?
      </a>
    </div>
  {%- endif -%}

  <div class="btn_wrapper">
    <button type="submit" class="btn btn--full">
      {{ 'customer.login.sign_in' | t }}
    </button>
  </div>

{%- endform -%}