{%- form 'create_customer' -%}

  {{ form.errors | default_errors }}

  <div class="form-block">
    <input type="text" name="customer[first_name]" id="FirstName" placeholder="First Name" class="input-full"{% if form.first_name %} value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>
  </div>

  <div class="form-block">
    <input type="text" name="customer[last_name]" id="LastName" placeholder="Last Name" class="input-full"{% if form.last_name %} value="{{ form.last_name }}"{% endif %} autocapitalize="words">
  </div>

  <div class="form-block">
    <input type="email" name="customer[email]" id="Email" placeholder="Email address" class="input-full{% if form.errors contains 'email' %} error{% endif %}"{% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
  </div>

  <div class="form-block">
    <input type="password" name="customer[password]" id="CreatePassword" placeholder="Password" class="input-full{% if form.errors contains 'password' %} error{% endif %}">
  </div>

  <div class="form_info">
    By registering, you agree with our <a href="#">Terms & Conditions</a> and Privacy and <a href="#">Cookie Policy</a>.
  </div>

  <div class="btn_wrapper">
    <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn--full">
  </div>

{%- endform -%}