{% case icon %}

  {% when 'icon-sorting' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="15" viewBox="0 0 17 15" fill="none">
      <path d="M1 1H15.5" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
      <path d="M1 13.9282H7" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
      <path d="M1 7.46411H15" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
    </svg>

  {% when 'icon-arrow-right' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="7" height="11" viewBox="0 0 7 11" fill="none">
      <path d="M0.75 1L5.25 5.5L0.75 10" stroke="black" stroke-width="1.5"/>
    </svg>

  {% when 'icon-close' %}
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 371.23 371.23" style="enable-background:new 0 0 371.23 371.23;" xml:space="preserve">
      <polygon points="371.23,21.213 350.018,0 185.615,164.402 21.213,0 0,21.213 164.402,185.615 0,350.018 21.213,371.23   185.615,206.828 350.018,371.23 371.23,350.018 206.828,185.615 "/>
    </svg>

  {% when 'icon-plus' %}
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 455 455" style="enable-background:new 0 0 455 455;" xml:space="preserve">
      <polygon points="455,212.5 242.5,212.5 242.5,0 212.5,0 212.5,212.5 0,212.5 0,242.5 212.5,242.5 212.5,455 242.5,455 242.5,242.5   455,242.5 "/>
    </svg>

  {% when 'icon-minus' %}
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 455 455" style="enable-background:new 0 0 455 455;" xml:space="preserve">
      <rect y="212.5" width="455" height="30"/>
    </svg>

  {% when 'icon-address-edit' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M3 17.2501V21.0001H6.75L17.81 9.94006L14.06 6.19006L3 17.2501ZM20.71 7.04006C21.1 6.65006 21.1 6.02006 20.71 5.63006L18.37 3.29006C17.98 2.90006 17.35 2.90006 16.96 3.29006L15.13 5.12006L18.88 8.87006L20.71 7.04006Z" fill="#323232"/>
    </svg>

  {% when 'icon-address-remove' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
      <path d="M8.60363 7.33277L14.4373 13.1664C14.7302 13.4593 14.7302 13.9342 14.4373 14.2271C14.1444 14.52 13.6695 14.52 13.3766 14.2271L7.54297 8.39343L1.70934 14.2271C1.41644 14.52 0.941571 14.52 0.648678 14.2271C0.355785 13.9342 0.355785 13.4593 0.648678 13.1664L6.48231 7.33277L0.648678 1.49914C0.355785 1.20625 0.355785 0.731373 0.648678 0.43848C0.941571 0.145588 1.41644 0.145587 1.70934 0.43848L7.54297 6.27211L13.3766 0.43848C13.6695 0.145587 14.1444 0.145588 14.4373 0.43848C14.7302 0.731373 14.7302 1.20625 14.4373 1.49914L8.60363 7.33277Z" fill="black"/>
    </svg>
    
  {% else %}
    
{% endcase %}