{%- if settings.social_twitter_link != blank -%}
<li>
  <a target="_blank" rel="noopener" href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="17" viewBox="0 0 21 17" fill="none">
      <path d="M20.9167 2.04164C20.1337 2.38132 19.3057 2.60587 18.4583 2.70831C19.3523 2.17427 20.0222 1.33412 20.3438 0.343724C19.5037 0.84379 18.5841 1.19612 17.625 1.38539C16.9839 0.690153 16.1302 0.227366 15.1977 0.0696112C14.2653 -0.088144 13.3068 0.068056 12.4727 0.513713C11.6386 0.95937 10.976 1.66928 10.5888 2.5321C10.2016 3.39491 10.1118 4.36184 10.3333 5.28122C8.63483 5.19531 6.97339 4.75305 5.45694 3.98316C3.9405 3.21328 2.60298 2.13299 1.53126 0.812474C1.15536 1.4689 0.957843 2.21229 0.958343 2.96872C0.95701 3.67121 1.1294 4.36312 1.46017 4.98285C1.79094 5.60259 2.26982 6.13092 2.85418 6.52081C2.17499 6.50233 1.51031 6.32008 0.916677 5.98956V6.04164C0.921767 7.0259 1.26667 7.9782 1.89305 8.73744C2.51942 9.49668 3.38882 10.0163 4.35418 10.2083C3.98257 10.3214 3.59675 10.381 3.20834 10.3854C2.93948 10.3823 2.67128 10.3579 2.40626 10.3125C2.68117 11.1592 3.21316 11.8991 3.92821 12.4293C4.64327 12.9595 5.50582 13.2537 6.39584 13.2708C4.89293 14.4534 3.03739 15.0988 1.12501 15.1041C0.776818 15.1053 0.428901 15.0844 0.0833435 15.0416C2.03587 16.3023 4.31127 16.9716 6.63543 16.9687C8.23927 16.9854 9.83036 16.6823 11.3158 16.0771C12.8012 15.472 14.1511 14.5769 15.2867 13.4442C16.4223 12.3115 17.3208 10.9639 17.9298 9.48008C18.5387 7.99625 18.8459 6.40594 18.8333 4.80206C18.8333 4.62497 18.8333 4.43747 18.8333 4.24997C19.6507 3.6404 20.3557 2.89313 20.9167 2.04164V2.04164Z" fill="black"/>
    </svg>
    <span class="icon__fallback-text">Twitter</span>
  </a>
</li>
{%- endif -%}
{%- if settings.social_instagram_link != blank -%}
  <li>
    <a target="_blank" rel="noopener" href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
        <path d="M10.1562 12.5001C10.1562 11.2057 11.2056 10.1563 12.5 10.1563C13.7944 10.1563 14.8437 11.2057 14.8437 12.5001C14.8437 13.7945 13.7944 14.8438 12.5 14.8438C11.2056 14.8438 10.1562 13.7945 10.1562 12.5001Z" fill="black"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.38541 7.08341C3.38541 5.04111 5.04102 3.3855 7.08332 3.3855H17.9167C19.959 3.3855 21.6146 5.04111 21.6146 7.08341V17.9167C21.6146 19.959 19.959 21.6147 17.9167 21.6147H7.08332C5.04102 21.6147 3.38541 19.9591 3.38541 17.9167V7.08341ZM18.75 7.29175C18.75 7.86704 18.2836 8.33341 17.7083 8.33341C17.133 8.33341 16.6667 7.86704 16.6667 7.29175C16.6667 6.71645 17.133 6.25008 17.7083 6.25008C18.2836 6.25008 18.75 6.71645 18.75 7.29175ZM12.5 8.59383C10.3426 8.59383 8.59374 10.3427 8.59374 12.5001C8.59374 14.6574 10.3426 16.4063 12.5 16.4063C14.6574 16.4063 16.4062 14.6574 16.4062 12.5001C16.4062 10.3427 14.6574 8.59383 12.5 8.59383Z" fill="black"/>
      </svg>
      <span class="icon__fallback-text">Instagram</span>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_facebook_link != blank -%}
  <li>
    <a target="_blank" rel="noopener" href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
        <path d="M22.9167 12.4999C22.9167 6.74992 18.25 2.08325 12.5 2.08325C6.75001 2.08325 2.08334 6.74992 2.08334 12.4999C2.08334 17.5416 5.66668 21.7395 10.4167 22.7083V15.6249H8.33334V12.4999H10.4167V9.89575C10.4167 7.88533 12.0521 6.24992 14.0625 6.24992H16.6667V9.37492H14.5833C14.0104 9.37492 13.5417 9.84367 13.5417 10.4166V12.4999H16.6667V15.6249H13.5417V22.8645C18.8021 22.3437 22.9167 17.9062 22.9167 12.4999Z" fill="black"/>
      </svg>
      <span class="icon__fallback-text">Facebook</span>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_youtube_link != blank -%}
  <li>
    <a target="_blank" rel="noopener" href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
        <path d="M23.9583 10.1146C24.0098 8.62364 23.6838 7.14381 23.0104 5.81254C22.5535 5.26629 21.9195 4.89766 21.2187 4.77088C18.3203 4.50788 15.4099 4.40009 12.5 4.44796C9.60066 4.39792 6.70073 4.50223 3.81249 4.76046C3.24147 4.86433 2.71303 5.13217 2.29165 5.53129C1.35415 6.39588 1.24999 7.87504 1.14582 9.12504C0.994687 11.3725 0.994687 13.6276 1.14582 15.875C1.17596 16.5786 1.28071 17.2769 1.45832 17.9584C1.58392 18.4845 1.83803 18.9712 2.1979 19.375C2.62214 19.7953 3.16289 20.0784 3.74999 20.1875C5.99573 20.4648 8.25855 20.5796 10.5208 20.5313C14.1667 20.5834 17.3646 20.5313 21.1458 20.2396C21.7473 20.1372 22.3033 19.8537 22.7396 19.4271C23.0312 19.1354 23.249 18.7783 23.375 18.3855C23.7475 17.2424 23.9305 16.046 23.9167 14.8438C23.9583 14.2605 23.9583 10.7396 23.9583 10.1146ZM10.1458 15.4688V9.02088L16.3125 12.2605C14.5833 13.2188 12.3021 14.3021 10.1458 15.4688Z" fill="black"/>
      </svg>
      <span class="icon__fallback-text">YouTube</span>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_pinterest_link != blank -%}
  <li>
    <a target="_blank" rel="noopener" href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-pinterest" viewBox="0 0 256 256"><path d="M0 128.002c0 52.414 31.518 97.442 76.619 117.239-.36-8.938-.064-19.668 2.228-29.393 2.461-10.391 16.47-69.748 16.47-69.748s-4.089-8.173-4.089-20.252c0-18.969 10.994-33.136 24.686-33.136 11.643 0 17.268 8.745 17.268 19.217 0 11.704-7.465 29.211-11.304 45.426-3.207 13.578 6.808 24.653 20.203 24.653 24.252 0 40.586-31.149 40.586-68.055 0-28.054-18.895-49.052-53.262-49.052-38.828 0-63.017 28.956-63.017 61.3 0 11.152 3.288 19.016 8.438 25.106 2.368 2.797 2.697 3.922 1.84 7.134-.614 2.355-2.024 8.025-2.608 10.272-.852 3.242-3.479 4.401-6.409 3.204-17.884-7.301-26.213-26.886-26.213-48.902 0-36.361 30.666-79.961 91.482-79.961 48.87 0 81.035 35.364 81.035 73.325 0 50.213-27.916 87.726-69.066 87.726-13.819 0-26.818-7.47-31.271-15.955 0 0-7.431 29.492-9.005 35.187-2.714 9.869-8.026 19.733-12.883 27.421a127.897 127.897 0 0 0 36.277 5.249c70.684 0 127.996-57.309 127.996-128.005C256.001 57.309 198.689 0 128.005 0 57.314 0 0 57.309 0 128.002z"/></svg>
      <span class="icon__fallback-text">Pinterest</span>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_snapchat_link != blank -%}
  <li>
    <a target="_blank" rel="noopener" href="{{ settings.social_snapchat_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-snapchat" viewBox="0 0 56.693 56.693"><path d="M28.66 51.683c-.128 0-.254-.004-.38-.01a3.24 3.24 0 0 1-.248.01c-2.944 0-4.834-1.336-6.661-2.628-1.262-.892-2.453-1.733-3.856-1.967a12.448 12.448 0 0 0-2.024-.17c-1.186 0-2.122.182-2.806.316-.415.081-.773.151-1.045.151-.285 0-.593-.061-.727-.519-.116-.397-.2-.78-.281-1.152-.209-.956-.357-1.544-.758-1.605-4.67-.722-6.006-1.705-6.304-2.403a.898.898 0 0 1-.072-.299.526.526 0 0 1 .44-.548c7.178-1.182 10.397-8.519 10.53-8.83l.012-.026c.44-.89.526-1.663.257-2.297-.493-1.16-2.1-1.67-3.163-2.008-.26-.082-.507-.16-.701-.237-2.123-.84-2.3-1.7-2.216-2.14.142-.747 1.142-1.268 1.95-1.268.222 0 .417.039.581.116.955.447 1.815.673 2.558.673 1.025 0 1.473-.43 1.528-.487-.026-.486-.059-.993-.092-1.517-.213-3.394-.478-7.61.595-10.018 3.218-7.215 10.043-7.776 12.057-7.776l.884-.009h.119c2.02 0 8.858.562 12.078 7.78 1.074 2.41.808 6.63.594 10.021l-.009.147c-.03.473-.058.932-.082 1.371.051.052.463.449 1.393.485h.001c.707-.028 1.52-.253 2.41-.67.262-.122.552-.148.75-.148.3 0 .607.058.86.164l.016.007c.721.255 1.193.76 1.204 1.289.009.497-.37 1.244-2.233 1.98-.193.076-.44.154-.7.237-1.065.338-2.671.848-3.164 2.008-.269.633-.183 1.406.257 2.297l.011.026c.134.311 3.35 7.646 10.532 8.83.265.043.454.28.44.548a.884.884 0 0 1-.074.3c-.296.693-1.632 1.675-6.303 2.397-.381.059-.53.556-.757 1.599-.083.38-.167.752-.282 1.144-.1.34-.312.5-.668.5h-.058c-.248 0-.6-.045-1.046-.133-.79-.154-1.677-.297-2.805-.297-.659 0-1.34.058-2.026.171-1.401.234-2.591 1.074-3.85 1.964-1.831 1.295-3.72 2.63-6.666 2.63z"/></svg>
      <span class="icon__fallback-text">Snapchat</span>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_linkedin_link != blank -%}
  <li>
    <a target="_blank" rel="noopener" href="{{ settings.social_linkedin_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'LinkedIn' }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
        <path d="M21.3229 2.08315H3.67709C3.47874 2.0804 3.28178 2.11674 3.09747 2.19012C2.91317 2.26349 2.74512 2.37245 2.60292 2.51077C2.46073 2.64909 2.34718 2.81407 2.26875 2.99629C2.19033 3.1785 2.14856 3.37438 2.14584 3.57274V21.4269C2.14856 21.6253 2.19033 21.8211 2.26875 22.0033C2.34718 22.1856 2.46073 22.3505 2.60292 22.4889C2.74512 22.6272 2.91317 22.7362 3.09747 22.8095C3.28178 22.8829 3.47874 22.9192 3.67709 22.9165H21.3229C21.5213 22.9192 21.7182 22.8829 21.9025 22.8095C22.0869 22.7362 22.2549 22.6272 22.3971 22.4889C22.5393 22.3505 22.6528 22.1856 22.7313 22.0033C22.8097 21.8211 22.8515 21.6253 22.8542 21.4269V3.57274C22.8515 3.37438 22.8097 3.1785 22.7313 2.99629C22.6528 2.81407 22.5393 2.64909 22.3971 2.51077C22.2549 2.37245 22.0869 2.26349 21.9025 2.19012C21.7182 2.11674 21.5213 2.0804 21.3229 2.08315ZM8.42709 19.5207H5.30209V10.1457H8.42709V19.5207ZM6.86459 8.83315C6.43362 8.83315 6.02029 8.66195 5.71554 8.3572C5.4108 8.05245 5.23959 7.63913 5.23959 7.20815C5.23959 6.77718 5.4108 6.36385 5.71554 6.0591C6.02029 5.75436 6.43362 5.58315 6.86459 5.58315C7.09344 5.5572 7.32519 5.57988 7.54467 5.6497C7.76415 5.71952 7.9664 5.83491 8.13819 5.98832C8.30998 6.14173 8.44743 6.32969 8.54154 6.53991C8.63565 6.75012 8.6843 6.97784 8.6843 7.20815C8.6843 7.43847 8.63565 7.66619 8.54154 7.8764C8.44743 8.08661 8.30998 8.27458 8.13819 8.42799C7.9664 8.58139 7.76415 8.69679 7.54467 8.76661C7.32519 8.83643 7.09344 8.85911 6.86459 8.83315ZM19.6979 19.5207H16.5729V14.4894C16.5729 13.229 16.125 12.4061 14.9896 12.4061C14.6382 12.4086 14.296 12.5189 14.0092 12.7219C13.7224 12.9249 13.5047 13.2109 13.3854 13.5415C13.3039 13.7863 13.2686 14.0442 13.2813 14.3019V19.5102H10.1563C10.1563 19.5102 10.1563 10.9894 10.1563 10.1352H13.2813V11.4582C13.5651 10.9656 13.978 10.5597 14.4755 10.2844C14.9729 10.0091 15.536 9.87467 16.1042 9.89565C18.1875 9.89565 19.6979 11.2394 19.6979 14.1248V19.5207Z" fill="black"/>
      </svg>
      <span class="icon__fallback-text">LinkedIn</span>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_tiktok_link != blank -%}
  <li>
    <a target="_blank" rel="noopener" href="{{ settings.social_tiktok_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'TikTok' }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
        <path d="M20.1263 5.79395C19.9681 5.71218 19.8141 5.62255 19.6649 5.52539C19.2309 5.2385 18.8331 4.90046 18.4798 4.51855C17.5961 3.50732 17.266 2.48145 17.1444 1.76318H17.1493C17.0477 1.16699 17.0897 0.78125 17.0961 0.78125H13.0707V16.3467C13.0707 16.5557 13.0707 16.7622 13.0619 16.9663C13.0619 16.9917 13.0594 17.0151 13.058 17.0425C13.058 17.0537 13.058 17.0654 13.0555 17.0771C13.0555 17.0801 13.0555 17.083 13.0555 17.0859C13.0131 17.6444 12.8341 18.1839 12.5342 18.657C12.2343 19.13 11.8228 19.5222 11.3358 19.7988C10.8283 20.0876 10.2542 20.239 9.6703 20.2383C7.79481 20.2383 6.27479 18.709 6.27479 16.8203C6.27479 14.9316 7.79481 13.4023 9.6703 13.4023C10.0253 13.402 10.3781 13.4579 10.7157 13.5679L10.7206 9.46924C9.69586 9.33687 8.65483 9.41831 7.66316 9.70842C6.67148 9.99853 5.7507 10.491 4.95888 11.1548C4.26507 11.7576 3.68177 12.4769 3.23525 13.2803C3.06533 13.5732 2.42422 14.7505 2.34658 16.6611C2.29775 17.7456 2.62344 18.8691 2.77871 19.3335V19.3433C2.87637 19.6167 3.25478 20.5498 3.87148 21.3364C4.36876 21.9674 4.95629 22.5217 5.61513 22.9814V22.9717L5.62489 22.9814C7.57362 24.3057 9.73426 24.2188 9.73426 24.2188C10.1083 24.2036 11.3612 24.2188 12.7841 23.5444C14.3622 22.7969 15.2606 21.6831 15.2606 21.6831C15.8346 21.0176 16.291 20.2592 16.6102 19.4404C16.9745 18.4829 17.0961 17.3345 17.0961 16.8755V8.61768C17.1449 8.64697 17.7953 9.07715 17.7953 9.07715C17.7953 9.07715 18.7323 9.67774 20.1942 10.0688C21.243 10.3472 22.6561 10.4058 22.6561 10.4058V6.40967C22.161 6.46338 21.1556 6.30713 20.1263 5.79395Z" fill="black"/>
      </svg>
      <span class="icon__fallback-text">TikTok</span>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_tumblr_link != blank -%}
  <li>
    <a target="_blank" rel="noopener" href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tumblr" viewBox="0 0 32 32"><path fill="#444" d="M6.997 13.822h3.022v10.237q0 1.852.414 3.047.463 1.097 1.438 1.95.951.877 2.511 1.438 1.487.512 3.388.512 1.657 0 3.096-.366 1.243-.244 3.242-1.194v-4.582q-2.023 1.389-4.192 1.389-1.072 0-2.145-.561-.634-.414-.951-1.146-.244-.804-.244-3.242v-7.483h6.581V9.239h-6.581V1.902h-3.949q-.195 2.072-.951 3.681-.756 1.56-1.901 2.486Q8.581 9.19 6.996 9.678v4.144z"/></svg>
      <span class="icon__fallback-text">Tumblr</span>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_vimeo_link != blank -%}
  <li>
    <a target="_blank" rel="noopener" href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-vimeo" viewBox="0 0 32 32"><path fill="#444" d="M.343 10.902l1.438 1.926q1.999-1.487 2.413-1.487 1.584 0 2.949 5.046l1.194 4.521q.828 3.132 1.292 4.814 1.804 5.046 4.534 5.046 4.339 0 10.53-8.336 6.069-7.922 6.288-12.528v-.536q0-5.606-4.485-5.752h-.341q-6.02 0-8.287 7.385 1.316-.561 2.291-.561 2.072 0 2.072 2.145 0 .268-.024.561-.146 1.731-2.047 4.729-1.95 3.144-2.901 3.144-1.267 0-2.242-4.777-.293-1.121-1.243-7.239-.414-2.632-1.536-3.9-.975-1.097-2.437-1.121-.195 0-.414.024-1.536.146-4.558 2.803-1.56 1.462-4.485 4.095z"/></svg>
      <span class="icon__fallback-text">Vimeo</span>
    </a>
  </li>
{%- endif -%}