{{ 'component-account-main.css' | asset_url | stylesheet_tag }}

<div class="account-page-header bg-black text-white">
  <div class="page-width d-flex space-between align-center">
    <h2 class="title">MY ACCOUNT</h2>
    <a href="/collections/all">back to shopping</a>
  </div>
</div>

<div class="page-width">

  <div class="account-address-wrapper">

    <!-- ---------------------------  Address Detail -------------------------- -->

    {% capture 'content_detail' %}
      <div class="account__info-row d-flex m-fd-column">
        <span class="info_label font-LM">Firt Name</span>
        <span>{{ customer.first_name }}</span>
      </div>
      <div class="account__info-row d-flex m-fd-column">
        <span class="info_label font-LM">Last Name</span>
        <span>{{ customer.last_name }}</span>
      </div>
      <div class="account__info-row d-flex m-fd-column">
        <span class="info_label font-LM">Email Address</span>
        <span>{{ customer.email }}</span>
      </div>
    {% endcapture %}

    {% render 'account-accordion', title: 'Details', content: content_detail %}
    
    <!-- ---------------------------- Address --------------------------- -->

    {% capture 'content_address' %}

      {%- for address in customer.addresses -%}

        <div class="address-detail-row d-flex m-fd-column">
          <div>{{ address.name }}</div>
          <div>{{ address.street }}</div>
          <div>
            <div>{{ address.zip }}</div>
            <div>{{ address.country }}</div>
            <div>{{ address.city }}</div>
          </div>
          <div class="btn_wrapper">
            <button type="button" class="btn btn-icon btn--small d-flex align-center address-edit-toggle" data-form-id="{{ address.id }}">
              Change address <span>{% render 'icon' with 'icon-address-edit' %}</span>
            </button>
            <button type="button" class="btn btn-icon btn--small d-flex align-center address-delete" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
              Remove <span>{% render 'icon' with 'icon-address-remove' %}</span>
            </button>
          </div>
        </div>

        <div id="EditAddress_{{ address.id }}" class="form-vertical js-address-form text-left hide">
          {%- form 'customer_address', address -%}

            <h2>{{ 'customer.addresses.edit_address' | t }}</h2>

            <div class="grid grid--small">
              <div class="grid__item one-half small--one-whole">
                <label for="AddressFirstName_{{form.id}}">{{ 'customer.addresses.first_name' | t }}</label>
                <input type="text" id="AddressFirstName_{{form.id}}" class="input-full" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words">
              </div>

              <div class="grid__item one-half small--one-whole">
                <label for="AddressLastName_{{form.id}}">{{ 'customer.addresses.last_name' | t }}</label>
                <input type="text" id="AddressLastName_{{form.id}}" class="input-full" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words">
              </div>
            </div>

            <label for="AddressCompany_{{form.id}}">{{ 'customer.addresses.company' | t }}</label>
            <input type="text" id="AddressCompany_{{form.id}}" class="input-full" name="address[company]" value="{{form.company}}" autocapitalize="words">

            <label for="AddressAddress1_{{form.id}}">{{ 'customer.addresses.address1' | t }}</label>
            <input type="text" id="AddressAddress1_{{form.id}}" class="input-full" name="address[address1]" value="{{form.address1}}" autocapitalize="words">

            <label for="AddressAddress2_{{form.id}}">{{ 'customer.addresses.address2' | t }}</label>
            <input type="text" id="AddressAddress2_{{form.id}}" class="input-full" name="address[address2]" value="{{form.address2}}" autocapitalize="words">

            <label for="AddressCity_{{form.id}}">{{ 'customer.addresses.city' | t }}</label>
            <input type="text" id="AddressCity_{{form.id}}" class="input-full" name="address[city]" value="{{form.city}}" autocapitalize="words">

            <div
              class="js-address-country"
              data-country-id="AddressCountry_{{form.id}}"
              data-province-container-id="AddressProvinceContainer_{{form.id}}"
              data-province-id="AddressProvince_{{form.id}}">
              <label for="AddressCountry_{{form.id}}">{{ 'customer.addresses.country' | t }}</label>
              <select id="AddressCountry_{{form.id}}" class="input-full" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
            </div>

            <div id="AddressProvinceContainer_{{form.id}}" style="display: none;">
              <label for="AddressProvince_{{form.id}}">{{ 'customer.addresses.province' | t }}</label>
              <select id="AddressProvince_{{form.id}}" class="input-full" name="address[province]" data-default="{{form.province}}"></select>
            </div>

            <div class="grid grid--small">
              <div class="grid__item one-half small--one-whole">
                <label for="AddressZip_{{form.id}}">{{ 'customer.addresses.zip' | t }}</label>
                <input type="text" id="AddressZip_{{form.id}}" class="input-full" name="address[zip]" value="{{form.zip}}" autocapitalize="characters">
              </div>

              <div class="grid__item one-half small--one-whole">
                <label for="AddressPhone_{{form.id}}">{{ 'customer.addresses.phone' | t }}</label>
                <input type="tel" id="AddressPhone_{{form.id}}" class="input-full" name="address[phone]" value="{{form.phone}}">
              </div>
            </div>

            <p>
              {{ form.set_as_default_checkbox }}
              <label for="address_default_address_{{form.id}}" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
            </p>

            <p>
              <button type="submit" class="btn">
                {{ 'customer.addresses.update' | t }}
              </button>
            </p>
            <p>
              <button type="button" class="text-link address-edit-toggle" data-form-id="{{ form.id }}">{{ 'customer.addresses.cancel' | t }}</button>
            </p>
          {%- endform -%}
        </div>

      {%- endfor -%}


      <div class="address-new">
        <button type="button" class="btn btn--small d-flex align-center section-header__link address-new-toggle">{{ 'customer.addresses.add_new' | t }} {% render 'icon' with 'icon-plus' %}</button>
      </div>

      <div id="AddressNewForm" class="form-vertical js-address-form text-left hide">
        {%- form 'customer_address', customer.new_address -%}

          <h2>{{ 'customer.addresses.add_new' | t }}</h2>

          <div class="grid grid--small">

            <div class="grid__item one-half small--one-whole">
              <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
              <input type="text" id="AddressFirstNameNew" class="input-full" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words">
            </div>

            <div class="grid__item one-half small--one-whole">
              <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
              <input type="text" id="AddressLastNameNew" class="input-full" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words">
            </div>

          </div>

          <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
          <input type="text" id="AddressCompanyNew" class="input-full" name="address[company]" value="{{form.company}}" autocapitalize="words">

          <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
          <input type="text" id="AddressAddress1New" class="input-full" name="address[address1]" value="{{form.address1}}" autocapitalize="words">

          <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
          <input type="text" id="AddressAddress2New" class="input-full" name="address[address2]" value="{{form.address2}}" autocapitalize="words">

          <div class="grid grid--small">
            <div class="grid__item medium-up--one-half">
              <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
              <input type="text" id="AddressCityNew" class="input-full" name="address[city]" value="{{form.city}}" autocapitalize="words">
            </div>

            <div
              class="grid__item medium-up--one-half js-address-country"
              data-country-id="AddressCountryNew"
              data-province-container-id="AddressProvinceContainerNew"
              data-province-id="AddressProvinceNew">
              <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
              <select id="AddressCountryNew" class="input-full" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
            </div>

            <div class="grid__item" id="AddressProvinceContainerNew" style="display: none;">
              <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
              <select id="AddressProvinceNew" class="input-full" name="address[province]" data-default="{{form.province}}"></select>
            </div>

            <div class="grid__item medium-up--one-half">
              <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
              <input type="text" id="AddressZipNew" class="input-full" name="address[zip]" value="{{form.zip}}" autocapitalize="characters">
            </div>

            <div class="grid__item medium-up--one-half">
              <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
              <input type="tel" id="AddressPhoneNew" class="input-full" name="address[phone]" value="{{form.phone}}">
            </div>
          </div>

          <p>
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_new" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
          </p>

          <p>
            <button type="submit" class="btn">
              {{ 'customer.addresses.add' | t }}
            </button>
          </p>
          <p>
            <button type="button" class="text-link address-new-toggle">{{ 'customer.addresses.cancel' | t }}</button>
          </p>

        {%- endform -%}
      </div>

    {% endcapture %}

    {% render 'account-accordion', title: 'Address Book', content: content_address %}

    
    <!-- ---------------------------- Order --------------------------- -->

    {% capture 'content_order' %}
      {%- if customer.orders.size != 0 -%}

        <div class="table--responsive table--small-text {{ customer.orders.size }} order-table">
          {%- for order in customer.orders -%}
            <div class="order-row d-flex space-between m-fd-column">
              <div data-label="{{ 'customer.orders.date' | t }}">
                <span>Order Date</span>
                {{ order.created_at | time_tag: format: 'date' }}
              </div>
              <div data-label="{{ 'customer.orders.order_number' | t }}">
                <span>Order Number</span>
                {{ order.name | link_to: order.customer_url }}
              </div>
              <div data-label="{{ 'customer.orders.fulfillment_status' | t }}">
                <span>SUmmary</span>
                {{ order.fulfillment_status_label }}
              </div>
              <div data-label="{{ 'customer.orders.total' | t }}">
                <a class="btn" href="/a/returns?order={{order.order_number}}&email={{customer.email}}">Return</a>
              </div>
            </div>
          {%- endfor -%}
        </div>

        <hr class="hr--clear">

      {%- else -%}

        <p>{{ 'customer.orders.none' | t }}</p>

      {%- endif -%}

    {% endcapture %}
    
    {% render 'account-accordion', title: 'Orders & Returns', content: content_order %}


  </div>
  
</div>

{% if customer.email %}
  <div class="log_out text-center font-LM">
    Not {{ customer.name }}? <a class="font-CG" href="{{ routes.account_logout_url }}">Sign out</a>
  </div>
{% endif %}

<script>
  document.querySelectorAll('.accordion-item .accordion-button').forEach(($button) => {
    $button.addEventListener('click', function() {
      var $item = $button.parentElement;
      if($item.classList.contains('active')) {
        $item.classList.remove('active');
      }
      else {
        $item.classList.add('active');
      }
    })
  })
</script>

{% comment %}

{%- paginate customer.orders by 20 -%}

<div class="page-width page-content">
  <header class="section-header{% unless settings.type_headers_align_text %} section-header--with-link{% endunless %}">
    <h1 class="section-header__title">{{ 'customer.account.title' | t }}</h1>
    <a href="{{ routes.account_logout_url }}" class="btn btn--secondary btn--small section-header__link">{{ 'layout.customer.log_out'| t }}</a>
  </header>

  <div class="grid">

    <div class="grid__item medium-up--two-thirds">
      <h2>{{ 'customer.orders.title' | t }}</h2>

      {%- if customer.orders.size != 0 -%}

        <table class="table--responsive table--small-text">
          <thead>
            <tr>
              <th>{{ 'customer.orders.order_number' | t }}</th>
              <th>{{ 'customer.orders.date' | t }}</th>
              <th>{{ 'customer.orders.payment_status' | t }}</th>
              <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
              <th>{{ 'customer.orders.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {%- for order in customer.orders -%}
              <tr class="table__section">
                <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
                <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
              </tr>
            {%- endfor -%}
          </tbody>
        </table>

        <hr class="hr--clear">

      {%- else -%}

        <p>{{ 'customer.orders.none' | t }}</p>

      {%- endif -%}
    </div>

    <div class="grid__item medium-up--one-third">
      <h3>{{ 'customer.account.details' | t }}</h3>

      <p class="h5">{{ customer.name }}</p>

      {{ customer.default_address | format_address }}

      <p><a href="{{ routes.account_addresses_url }}" class="text-link">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
    </div>

  </div>

  {%- if paginate.pages > 1 -%}
    {%- render 'pagination', paginate: paginate -%}
  {%- endif -%}
</div>
{%- endpaginate -%}

{% endcomment %}