{% render 'section-styles', section: section %}

<div class="section_container page-width">
  <div class="section-header width-sm m-auto text-left">
    {% if section.settings.title != blank %}
      <h2 class="title">{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.subtitle != blank %}
      <div class="subtitle">{{ section.settings.subtitle }}</div>
    {% endif %}
  </div>
  <div class="main_content width-sm m-auto d-flex space-between m-fd-column">
    <div class="info-wrapper fs-m">
      {% for block in section.blocks %}
        <div class="info-block d-flex">
          <div class="icon">{{ block.settings.icon }}</div>
          <div class="info">
            {% if block.settings.title != blank %}
              <div class="info_title text-bold">{{ block.settings.title }}</div>
            {% endif %}
            <div class="info_desc">{{ block.settings.info }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="form-wrapper">
      {% render 'contact-form' %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Contact Us",
  "class": "section-contactus",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    }
  ],
  "blocks": [
    {
      "type": "info",
      "name": "Info",
      "settings": [
        {
          "type": "html",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "info",
          "label": "Info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact Us"
    }
  ]
}
{% endschema %}