{% render 'section-styles', section: section %}

<div class="section_container page-width" data-aos>
  <div class="section-header">
    {% if section.settings.title != blank %}
      <h2 class="title">{{ section.settings.title }}</h2>
    {% endif %}
  </div>
  <div class="main-content category-grid d-flex flex-wrap space-between">
    {% for block in section.blocks %}
      <div class="category">
        {% assign collection = collections[block.settings.collection] %}
        {% assign image = block.settings.image | default: collection.image %}
        {% assign title = block.settings.title | default: collection.title %}
        <a href="{{ collection.url }}">
          {% render 'rimage', image: image %}
          <div class="category-title title text-white">{{ title }}</div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Featured category",
  "class": "section-featured-category",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Category",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured category"
    }
  ]
}
{% endschema %}