{% render 'section-styles', section: section %}

<div class="section_container page-width" data-aos>
  <div class="main_content width-sm m-auto">
    <div class="section-header text-left">
      {% if section.settings.title != blank %}
        <h2 class="title">{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.subtitle != blank %}
        <div class="subtitle">{{ section.settings.subtitle }}</div>
      {% endif %}
      <div class="content d-flex space-between flex-wrap">
        {% if section.settings.image != blank %}
          <div class="image_wrapper">{% render 'rimage', image: section.settings.image %}</div>
        {% endif %}
        <div class="image_info">
          {% if section.settings.info_title != blank %}
            <div class="info_title text-bold subtitle">{{ section.settings.info_title }}</div>
          {% endif %}
          {% if section.settings.info_desc != blank %}
            <div class="info_desc subtitle">{{ section.settings.info_desc }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured image",
  "class": "section-featured-image",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "info_title",
      "label": "Info title"
    },
    {
      "type": "richtext",
      "id": "info_desc",
      "label": "Description"
    }
  ],
  "presets": [
    {
      "name": "Featured Image"
    }
  ]
}
{% endschema %}