{% render 'section-styles', section: section %}

<style>
  #shopify-section-{{ section.id }} {
    background: {{ section.settings.color_bg }};
    color: {{ section.settings.color_text }};
  }
</style>

<div class="section_container page-width">
  {% if section.settings.title != blank or section.settings.subtitle != blank %}
    <div class="section-header m-auto text-left width-sm">
      <h2 class="title">{{ section.settings.title }}</h2>
      <div class="subtitle">{{ section.settings.subtitle }}</div>
    </div>
  {% endif %}
  <div class="main_wrapper width-sm m-auto d-grid space-between {{ section.settings.layout }} flex-wrap">
    {% for block in section.blocks %}
      <div class="text-block">
        <div class="text-block-wrapper">
          {% if block.settings.title != blank %}
            <h2 class="title">{{ block.settings.title }}</h2>
          {% endif %}
          {% if block.settings.subtitle != blank %}
            <div class="subtitle {% if section.settings.layout == 'design-2' %}font-LM{% endif %}">{{ block.settings.subtitle }}</div>
          {% endif %}
          {% if block.settings.desc != blank %}
            <div class="rte desc">{{ block.settings.desc }}</div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  {% if section.settings.btn_label != blank and section.settings.btn_link != blank %}
    <div class="btn_wrapper text-center">
      <a href="{{ section.settings.btn_link }}" class="btn btn-{{ section.settings.btn_style }}">{{ section.settings.btn_label }}</a>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Featured text grid",
  "class": "section-featured-text-grid",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "select",
      "options": [
        {
          "label": "Design 1",
          "value": "design-1"
        },
        {
          "label": "Design 2",
          "value": "design-2"
        }
      ],
      "id": "layout",
      "default": "design-1",
      "label": "Layout"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    },
    {
      "type": "select",
      "options": [
        {
          "label": "White",
          "value": "white"
        },
        {
          "label": "Black",
          "value": "black"
        }
      ],
      "id": "btn_style",
      "default": "black",
      "label": "Button style"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "richtext",
          "id": "desc",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured text grid"
    }
  ]
}
{% endschema %}