{% render 'section-styles', section: section %}

<div class="section_container page-width">
  <div class="main_content width-sm m-auto text-white d-flex align-center space-between m-fd-column">
    <div class="content">
      {% if section.settings.title != blank %}
        <h2 class="title">{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.subtitle != blank %}
        <div class="subtitle">{{ section.settings.subtitle }}</div>
      {% endif %}
    </div>
    {% if section.settings.btn_label != blank and section.settings.btn_link != blank %}
      <div class="btn_wrapper">
        <a href="{{ section.settings.btn_link }}" class="btn btn-white">{{ section.settings.btn_label }}</a>
      </div>
    {% endif %}
  </div>
</div>

<style>
  #shopify-section-{{ section.id }} {
    background: {{ section.settings.section_bg }};
  }
</style>

{% schema %}
{
  "name": "Featured CTA",
  "class": "section-featured-cta",
  "settings": [
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "section_bg",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Featured CTA"
    }
  ]
}
{% endschema %}