.product__thumbs.layout-dots .product__thumb-item img {
  display: none;
}

.product__thumbs.layout-dots .product__thumb-item .image-wrap {
  width: auto;
  height: auto !important;
  padding-bottom: 0px !important;
}

.product__thumbs.layout-dots .product__thumb-item:not(:last-child) {
  margin-bottom: 10px;
}

.product__thumbs.layout-dots .product__thumb-item a {
  background: #7f7f7f;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.product__thumbs.layout-dots .product__thumb-item a.is-active {
  background: #000;
}

.product__thumbs.layout-dots .product__thumb-item a.is-active::before {
  display: none;
}

.product__thumbs.layout-dots {
  flex: 0 0 50px;
  max-width: 50px;
}

.product__thumbs.layout-dots .product__thumbs--scroller {
  bottom: unset;
  top: 50%;
  transform: translateY(-50%);
}

.product-single__meta .product-single__title {
  font-size: 24px;
}

.payment-buttons > * {
  max-width: calc(50% - 10px);
  min-width: calc(50% - 10px);
}

.payment-buttons [data-add-to-cart][disabled] {
  max-width: 100%;
  min-width: 100%;
}

.payment-buttons button {
  font-size: 16px !important;
  height: 50px;
  line-height: 1;
}

.shopify-payment-button {
  margin-top: 0px;
}

.shopify-payment-button button {
  border-radius: 5px !important;
}

.product-block.product-description {
  font-size: 14px;
  margin-top: 25px;
  padding-right: 120px;
}

@media (max-width: 768px) {
  .product-block.product-description {
    padding-right: 0px;
  }
}

.shopify-payment-terms.product__policies {
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .shopify-payment-terms.product__policies {
    margin-top: 45px;
    text-align: left;
  }
}

.variant-wrapper {
  max-width: 350px;
  position: relative;
}

.variant-wrapper > label {
  border-bottom: 1px solid #F3F4FA;
  cursor: pointer !important;
  display: flex !important;
  font-size: 14px !important;
  letter-spacing: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: none !important;
}

.variant-wrapper fieldset {
  box-shadow: 0px 12px 15px 0px #0000006e;
  background: #FFF;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 210px;
  right: 0;
  padding: 6px 8px;
  position: absolute;
  z-index: 999;
}

.variant-wrapper.active fieldset {
  display: flex;
}

.variant-wrapper .variant__label-info svg {
  margin-left: 15px;
}

.variant-wrapper fieldset .variant-input {
  margin: 2px 0;
  max-width: calc(100% / 3 - 5px);
  min-width: calc(100% / 3 - 5px);
}

.variant-wrapper fieldset .variant-input label {
  border: 1px solid #e8e8e1;
  box-shadow: none !important;
  margin: 0px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

.variant-wrapper fieldset .variant-input input:checked + label {
  border-color: #000;
}

[data-variant-active-label] {
  font-size: 16px;
}

.section-featured-collection .section-header__title {
  font-size: 24px;
  margin-bottom: 35px;
}

@media (max-width: 768px) {
  .product-section .product__main-photos {
    margin-left: 0px;
    margin-right: 0px;
  }
  .product-section .product-single__title,
  .product-section .product-block--price {
    text-align: left;
  }
  .product-section .product-block--header {
    margin-bottom: 15px;
  }
}