.account-page-header {
  margin-bottom: 30px;
}

.account-page-header .page-width {
  height: 60px;
}

.account-page-header .title {
  font-size: 20px;

}
.account-page-header a {
  color: white;
  text-decoration: underline;
}

.accordion-item:not(.active) .accordion-content {
  display: none;
}

.accordion-item {
  border-bottom: 1px solid #F3F4FA;
}

.accordion-item .accordion-content {
  padding-top: 10px;
  padding-bottom: 15px;
}

@media (max-width: 768px) {
  .accordion-item .accordion-content {
    padding-bottom: 30px;
  }
}

.accordion-item .accordion-button {
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.accordion-item .accordion-button svg {
  display: block;
  width: 16px;
  height: auto;
}

.accordion-item .accordion-button .icon {
  width: fit-content;
  height: fit-content;
}

.accordion-item .accordion-button .icon-expanded {
  display: none;
}

.accordion-item.active .accordion-button .icon-expanded {
  display: block;
}

.accordion-item.active .accordion-button .icon-closed {
  display: none;
}

.accordion-content .info_label {
  width: 18%; 
}

.account__info-row {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .account__info-row {
    margin-bottom: 20px;
  }

  .account__info-row:last-child {
    margin-bottom: 0px;
  }
}

@media (min-width: 769px) {
  .address-detail-row > div:first-child {
    width: 18%;
  }
  
  .address-detail-row > div:nth-child(2) {
    width: 28%;
  }
  
  .address-detail-row > div:nth-child(3) {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .address-detail-row > div {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .address-detail-row > div:first-child {
    margin-top: 0px;
  }
  .address-detail-row .btn_wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.address-detail-row button {
  display: flex !important;
  font-family: "CenturyGothic", sans-serif;
  margin-left: auto;
  text-align: right;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .address-detail-row button {
    margin-left: unset;
  }
}

.address-detail-row button span {
  margin-left: 10px;
  width: 24px;
  text-align: center;
}

.address-new {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .address-new {
    margin-top: 10px;
  }
}

.address-new button {
  margin-left: auto;
  padding-top: 12px;
  padding-bottom: 12px;
}

@media (max-width: 768px) {
  .address-new button {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    width: 100%;
  }
}

.address-new button svg {
  fill: #FFF;
  width: 15px;
  height: auto;
  margin-left: 20px;
}

.accordion-item form {
  margin-top: 45px;
}

.accordion-item form h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.accordion-item form label {
  font-size: 14px !important;
  letter-spacing: 0px !important;
  margin-bottom: 5px !important;
  text-transform: unset !important;
}

.accordion-item form input,
.accordion-item form select,
.accordion-item form textarea {
  border: 1px solid #000;
}

.order-row {
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 12px;
  padding: 15px;
}

.order-row span {
  display: block;
  font-family: 'LemonMilk' ,sans-serif;
  margin-bottom: 10px;
}

.order-row a.btn {
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 200px;
}

@media (max-width: 768px) {
  .order-row {
    margin-bottom: 12px;
  }
  .order-row > div {
    margin-bottom: 25px;
  }
  .order-row > div:last-child {
    margin-bottom: 0px;
  }
  .order-row span {
    margin-bottom: 5px;
  }
  .order-row a.btn {
    width: 100%;
  }
}

.log_out {
  font-size: 16px;
  margin-top: 45px;
  margin-bottom: 30px;
}

.log_out a {
  font-size: 14px;
  margin-left: 5px;
  text-decoration: underline;
}