.cart-page-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

#CartPageForm {
  margin-top: 45px;
}

@media (max-width: 768px) {
  #CartPageForm {
    margin-top: 20px;
  }
}

.cart__item-name {
  font-size: 18px;
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .cart__item-name {
    font-size: 14px;
    padding-right: 20px;
  }
}

.cart__item-price-col {
  font-size: 20px;
}

@media (max-width: 768px) {
  .cart__item-price-col {
    font-size: 14px;
    margin-top: 5px;
  }
}

.cart__item--variants {
  font-size: 18px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .cart__item--variants {
    font-size: 14px;
  }
}

.cart__item--variants span {
  font-weight: normal;
}

.cart__item {
  max-width: 640px;
  position: relative;
}

.cart__remove {
  position: absolute;
  top: 0;
  right: 0;
}

.cart__item-sub {
  margin-top: auto;
}

@media (max-width: 768px) {
  .cart__item-sub {
    align-items: flex-end;
  }
}

.cart__item-sub .js-qty__num {
  padding-top: 10px;
  padding-bottom: 10px;
}

.cart__remove svg {
  width: 16px;
  height: auto;
}

.cart__summary {
  max-width: 380px;
  padding-top: 12px !important;
}

@media (max-width: 768px) {
  .cart__summary {
    max-width: 100%;
    margin-top: 30px;
  }
}

.cart__summary-title {
  font-size: 16px;
}

.cart__item-subtottal {
  color: #919191;
  margin-top: 30px;
  margin-bottom: 15px;
}

.cart__item-total {
  border-top: 1px solid #d5d5d5;
  padding-top: 15px;
}

.cart__page-col::after {
  display: none;
}

@media (max-width: 768px) {
  .cart__image {
    flex: 0 0 100px;
  }
}