
@font-face {
  font-family: "CenturyGothic";
  src: url("CenturyGothic.ttf") format('truetype');
}

@font-face {
  font-family: "LemonMilk";
  src: url("LemonMilklight.ttf") format('truetype');
}

body *:not(i) {
  font-family: "CenturyGothic", sans-serif;
}

.title {
  font-size: 40px;
}

@media (max-width: 768px) {
  .title {
    /* font-size: 30px; */
  }
}

h1, h1 *, .h1, .h1 *, h2, h2 *, .h2, .h2 *, .title, .title * {
  font-family: "LemonMilk", sans-serif;
}

.btn {
  border-radius: 5px;
  font-family: "LemonMilk", sans-serif;
  font-size: 14px;
  padding: 15px 20px;
}

.btn-white {
  background: #FFF !important;
  color: #000 !important;
}

.btn-black {
  background: #000 !important;
  color: #FFF !important;
}

.btn-icon {
  background: transparent !important;
  color: #000 !important;
  min-width: unset;
  padding: 0px;
}

.font-LM, .font-LM * {
  font-family: "LemonMilk", sans-serif;
}

.font-CG {
  font-family: "CenturyGothic", sans-serif;
}

.fs-m {
  font-size: 20px;
}

.subtitle {
  font-size: 20px;
}

[data--hidden] {
  display: none !important;
}

@media (max-width: 768px) {
  .hide--mobile {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .hide--desktop {
    display: none !important;
  }
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .m-fd-column {
    flex-direction: column;
  }
}

.text-bold {
  font-weight: bold;
}

.text-white {
  color: #FFF;
}

.text-black {
  color: #000;
}

.bg-white {
  background: #FFF;
}

.bg-black {
  background: #000;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.width-sm {
  max-width: 960px;
}

.h-100 {
  height: 100%;
}


/* Layout */
.js-drawer-closing .main-content:after, .js-drawer-open .main-content:after {
  z-index: 1000;
}

.js-drawer-open--search .main-content:after {
  z-index: 1;
}

.drawer--left.drawer--is-open,
.drawer--right.drawer--is-open {
  z-index: 1001;
}

/* ========================== Site Header ========================= */

header .page-width {
  position: relative;
  z-index: 9;
}

@media (min-width: 769px) {
  .js-megamenu-drawer #shopify-section-header {
    position: relative;
    z-index: 9999;
  }
}

.site-header {
  padding-top: 0px;
  padding-bottom: 0px;
}

.site-header .page-width {
  background: #FFF;
  padding-top: 20px;
  padding-bottom: 20px;  
}

@media (max-width: 768px) {
  .site-header .page-width {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.site-nav__icons .site-nav__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  margin-left: 30px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .site-nav__icons .site-nav__link {
    margin-left: 0px;
  }
}

.site-nav__icons .site-nav__link span {
  margin-left: 5px;
}

.site-nav__link span.icon {
  height: fit-content;
  margin-left: 0px;
}

.site-nav__link span.icon span {
  background: black;
  display: block;
  margin-bottom: 7px;
  width: 21px;
  height: 1px;
}

.site-nav__link span.icon span:last-child {
  margin-bottom: 0px;
}

.megamenu {
  background: #FFF;
  width: 100%;
  opacity: 0;
  transform: translateY(-100%);
  padding-top: 0px;
  padding-bottom: 45px;
  position: absolute;
  transition: all .3s ease;
}

.megamenu-toggle.open span.icon span {
  transition: all .3s ease;
}

.megamenu-toggle.open span.icon span:nth-child(2) {
  display: none;
}

.megamenu-toggle.open span.icon span:first-child {
  transform: rotate(45deg) translate(4px, 0px);
}

.megamenu-toggle.open span.icon span:last-child {
  transform: rotate(-45deg) translate(6px, -1px);
}

.megamenu .page-width {
  padding-top: 0px;
  padding-bottom: 0px;
}

.megamenu.open {
  opacity: 1;
  transform: unset;
}

.megamenu-wrapper {
  margin-left: 50px;
}

.megamenu_image {
  max-width: 340px;
  margin-right: 50px;
}

.megamenu-block {
  min-width: 200px;
}

.megamenu-block ul {
  list-style: none;
  margin: 0px;
}

.menu_heading {
  display: block;
  margin-bottom: 15px;
}

.megamenu-block ul li {
  margin-bottom: 15px;
}

/* =================================== Homepage =================================== */

/* === Section Hero slider === */

.section-hero-slideshow .hero__subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .section-hero-slideshow .hero__title {
    font-size: 30px !important;
  }

  .section-hero-slideshow .hero__text-content {
    vertical-align: bottom;
  }
}

/* === Section Featured category === */

.section-featured-category .section-header {
  margin-bottom: 35px;
}

@media (max-width: 768px) {
  .section-featured-category .section-header {
    margin-bottom: 15px;
  }
  .section-featured-category .title {
    font-size: 30px;
  }
}

.section-featured-category .category:first-child, 
.section-featured-category .category:nth-child(2) {
  max-width: calc(50% - 10px);
  min-width: calc(50% - 10px);
  margin-bottom: 20px;
}

.section-featured-category .category:nth-child(3), 
.section-featured-category .category:nth-child(4),
.section-featured-category .category:nth-child(5) {
  max-width: calc(100% / 3 - 10px);
  min-width: calc(100% / 3 - 10px);
}

@media (max-width: 768px) {
  .section-featured-category .category {
    max-width: calc(50% - 2px) !important;
    min-width: calc(50% - 2px) !important;
    margin-bottom: 4px !important;
  }
  .section-featured-category .category:nth-child(5) {
    max-width: 100% !important;
    min-width: 100% !important;
  }
}

.section-featured-category .category {
  position: relative;
}

.section-featured-category .category .title {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

@media (max-width: 768px) {
  .section-featured-category .category .title {
    font-size: 14px;
  }
}

/* === Section Featured Product === */

.section-featured-product .product-info-wrapper {
  padding-right: 250px;
}

.section-featured-product .file_upload {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .section-featured-product .product-single__title {
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .section-featured-product .product-info-wrapper {
    padding-right: 0px;
  }
  .section-featured-product .product__price {
    margin-bottom: 15px;
  }
  .section-featured-product .product__main-photos {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px !important;
  }
  .section-featured-product .variant-input-wrap {
    text-align: left;
  }
}

.section-featured-product .shopify-payment-terms {
  font-size: 14px;
  line-height: 1.6;
}

.section-featured-product .shopify-payment-button {
  margin-top: 0px !important;
}

.section-featured-product .payment-buttons.d-flex > * {
  max-width: calc(50% - 5px);
  min-width: calc(50% - 5px);
}

.section-featured-product button {
  border-radius: 5px !important;
  height: 50px;
  min-height: unset;
}

@media (max-width: 768px) {
  .section-featured-product .shopify-payment-terms {
    text-align: left;
  }
}

.section-featured-product .variant-input label {
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: none !important;
  font-family: "LemonMilk", sans-serif;
  padding: 16px;
}

.section-featured-product .variant-input input:checked + label {
  background: #000;
  color: #FFF;
}

/* === Section simple text grid === */

.section-simple-text-grid .main_wrapper {
  max-width: 1120px;
}

.section-simple-text-grid .subtitle {
  margin-top: 5px;
}

@media (max-width: 768px) {
  .section-simple-text-grid .title {
    /* font-size: 40px; */
  }
  .section-simple-text-grid .text-block:not(:last-child) {
    margin-bottom: 90px;
  }
}

/* === Section Featured text grid === */

.section-featured-text-grid .section-header {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .section-featured-text-grid .section-header .title {
    /* font-size: 40px; */
  }
}

.section-featured-text-grid .section-header .subtitle {
  margin-top: 10px;
}

.section-featured-text-grid .main_wrapper {
  grid-row-gap: 50px;
}

.section-featured-text-grid .main_wrapper.design-1 {
  grid-template-columns: 35% 35%;
}

@media (max-width: 768px) {
  .section-featured-text-grid .main_wrapper.design-1 {
    grid-template-columns: unset;
  }
  .section-featured-text-grid .main_wrapper.design-1 .title {
    /* font-size: 40px; */
  }
}

.section-featured-text-grid .main_wrapper.design-1 .text-block .subtitle {
  margin-top: 10px;
  margin-bottom: 15px;
}

.section-featured-text-grid .main_wrapper.design-2 {
  grid-template-columns: 43% 43%;
}

@media (max-width: 768px) {
  .section-featured-text-grid .main_wrapper.design-2 {
    grid-template-columns: unset;
    grid-row-gap: 75px;
  }
}

.section-featured-text-grid .main_wrapper.design-2 .text-block .desc {
  margin-top: 10px;
}

.section-featured-text-grid .btn_wrapper {
  margin-top: 50px;
}

@media (max-width: 768px) {
  .section-featured-text-grid .btn_wrapper a.btn {
    width: 100%;
  }
}

/* === Section Featured image === */

.section-featured-image .image_wrapper {
  flex: 1;
}

@media (max-width: 768px) {
  .section-featured-image .image_wrapper {
    min-width: 100%;
    max-width: 100%;
  }
}

.section-featured-image .content {
  margin-top: 50px;
}

.section-featured-image .subtitle {
  line-height: 1.5;
}

.section-featured-image .content .image_info {
  min-width: 380px;
  max-width: 380px;
  padding-left: 100px;
}

@media (max-width: 768px) {
  .section-featured-image .content .image_info {
    max-width: 100%;
    min-width: 100%;
    padding-left: 0px;
  }
}

/* === Section Featured CTA === */

.section-featured-cta .content {
  max-width: 580px;
}

.section-featured-cta .content .subtitle {
  margin-top: 10px;
}

.section-featured-cta .content .subtitle p:last-child {
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .section-featured-cta .main_content {
    align-items: flex-start;
  }
  .section-featured-cta .btn_wrapper {
    margin-top: 90px;
  }
}

/* === Section Contact Us === */

.section-contactus .section-header .subtitle {
  margin-top: 10px;
}

.section-contactus .main_content {
  margin-top: 45px;
}

.section-contactus .icon {
  margin-right: 15px;
}

.section-contactus .icon svg {
  width: 24px;
  height: auto;
}

.section-contactus .info_title {
  margin-bottom: 10px;
}

.section-contactus .info_desc p {
  margin-bottom: 5px;
}

.section-contactus .info_desc p:last-child {
  margin-bottom: 0px;
}

.section-contactus .info-block:not(:last-child) {
  margin-bottom: 30px;
}

.section-contactus .main_content {
  padding-right: 100px;
}

@media (max-width: 768px) {
  .section-contactus .main_content {
    padding-right: 0px;
  }
}

.section-contactus .form-wrapper {
  max-width: 50%;
  min-width: 50%;
}

@media (max-width: 768px) {
  .section-contactus .form-wrapper {
    margin-top: 35px;
    max-width: 100%;
    min-width: 100%;
  }
}

.section-contactus .grid__item {
  margin-bottom: 15px;
  padding-left: 0px;
}

.section-contactus .grid__item input {
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  min-height: 45px;
}

.section-contactus .grid__item textarea {
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
}

.section-contactus button {
  min-width: 140px;
}

@media (max-width: 768px) {
  .section-contactus button {
    min-width: 100%;
    width: 100%;
  }
}

/* === Site Footer === */

footer .h4.footer__title {
  font-size: 14px;
  letter-spacing: 0px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  footer .h4.footer__title {
    margin-bottom: 10px;
    text-align: left;
  }
  .site-footer .grid__item:after {
    display: none;
  }
}

footer .site-footer__linklist {
  font-size: 14px;
}

footer .footer__logo {
  margin-top: 20px;
}

footer .footer__logo .info {
  font-size: 14px;
  padding-left: 20px;
}

@media (max-width: 768px) {
  footer .footer__logo .info {
    margin-top: 15px;
    padding-left: 0px;
  } 
}

footer .footer__logo .info p:last-child {
  margin-bottom: 0px;
}

.footer_social_icons {
  list-style: none;
  margin-top: 25px;
}

.footer_social_icons li {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .footer_social_icons {
    margin-top: 40px;
  }
  footer .grid__item {
    float: unset;
    text-align: left;
    order: 1;
  }
  footer .grid__item:not(:last-child) {
    margin-top: 35px;
  }
  footer .grid__item li {
    margin-bottom: 0px;
  }
  footer .grid__item:last-child {
    order: 0;
  }
  footer .collapsible-content--small {
    height: auto;
  }
  .site-footer-wrapper .grid {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer__logo {
    text-align: left;
  }
  .footer__logo img {
    height: 45px;
    width: auto;
  }
}


/* ================= Collection Page ================ */

body.template-collection .collection-filter-bar {
  background: #000;
  color: #FFF;
  width: 100%;
  height: 60px;
  top: 0 !important;
  left: 0;
  position: absolute;
  z-index: 9;
}

@media (max-width: 768px) {
  body.template-collection .collectino_title {
    font-size: 30px;
    margin-bottom: 15px;
  }
}

.collection-filter__item--drawer,
.collection-filter__item--sort
{
  flex: 0 1 250px;
  margin-bottom: 0px;
}

.collection-filter--title {
  flex: 1;
  justify-content: center;
}

#CollectionAjaxContent {
  position: relative;
}

.collection-filter-bar-wrapper {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .collection-filter-bar-wrapper {
    padding-left: 45px;
    padding-right: 45px;
  }
  .collection-content .drawer__title {
    font-size: 30px;
  }
  .collection-content #FilterDrawer {
    font-size: 16px;
  }

  @media (max-width: 768px) {
    #FilterDrawer {
      max-width: 100%;
      width: 100%;
      left: -100%;
      top: 79px;
    }
    #FilterDrawer.drawer--is-open {
      transform: translateX(100%);
    }
    .js-drawer-open.collection-filters .main-content::after {
      background: transparent;
    }
    #FilterDrawer .drawer__fixed-header {
      background: #000;
      color: #FFF;
      height: 60px;
    }
    #FilterDrawer .drawer__header {
      height: 61px;
    }
    #FilterDrawer .drawer__title {
      font-size: 20px;
    }
    #FilterDrawer .collapsible-trigger-btn {
      font-size: 16px;
      letter-spacing: 0px;
      text-transform: unset;
    }
    #FilterDrawer .collapsible-content__inner label {
      font-size: 14px;
    }
    #FilterDrawer .price-range__slider-wrapper {
      margin-top: 10px;
    }
  }

  /* #FilterDrawer {
    left: 0px;
    max-width: unset;
    width: 100%;
    transform: translateX(-100%);
    top: 89px;
  }
  #FilterDrawer.drawer--is-open {
    transform: unset;
  }
  .collection-content .drawer__header {
    height: 61px;
  }
  .collection-content .drawer__fixed-header {
    background: #000;
    color: #FFF;
    height: 60px;
  } */
}

#CollectionAjaxContent .collection-grid__wrapper {
  margin-top: 80px;
}

.grid-product {
  margin-bottom: 45px;
}

@media (max-width: 768px) {
  .collection-grid__wrapper .grid__item {
    width: 100%;
  }
  .grid-product {
    margin-bottom: 30px;
  }
}

.grid-product__meta {
  text-align: left !important;
}

.grid-product__meta .grid-product__title {
  font-size: 18px;
  letter-spacing: 0px;
}

.collection-filter .btn {
  background: transparent !important;
  border: none;
  color: #FFF;
  font-size: 20px;
  padding-left: 0px;
}

.collection-filter__sort-container {
  background: transparent;
}

.collection-filter__item--sort {
  position: relative;
}

.sort_options {
  background: #000;
  color: #e5e5e5;
  display: none;
  padding: 0 10px;
  position: absolute;
  right: 0px;
  top: 60px;
  width: 210px;
}

@media (min-width: 769px) {
  .sort_options .options-wrapper {
    opacity: 1;
    transform: unset;
  }
}

@media (max-width: 768px) {
  .sort_options {
    background: #FFF;
    color: #000;
    display: block;
    top: 79px;
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    position: fixed;
    transform: translateX(100%);
    transition: transform .25s cubic-bezier(.165,.84,.44,1);
  }
  .sort_options .options-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sort_options li {
    border-bottom-color: #e8e8e1 !important;
    font-size: 14px;
    padding: 18px 0 !important;
  }
  .sort_options .sort-option-header {
    font-size: 20px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .sort_options .sort-option-header svg {
    width: 28px;
    height: 28px;
  }
  .js-drawer-sorting.js-drawer-open .section-collection-main {
    position: relative;
    z-index: 1001;
  }
  .js-drawer-sorting.js-drawer-open .main-content::after {
    background: transparent;
  }
  .js-drawer-sorting.js-drawer-open .sort_options {
    transform: unset;
  }
}

.sort_options li {
  cursor: pointer;
  margin-bottom: 0px;
  padding: 10px 5px;
}

.sort_options li.active {
  color: #FFF;
  font-weight: bold;
}

@media (max-width: 768px) {
  .sort_options li.active {
    color: #000;
  }
}

.sort_options li:not(:last-child) {
  border-bottom: 1px solid #4c4c4c;
}

.collection-filter__sort-container:hover .sort_options {
  display: block;
}

.btn_soring {
  cursor: pointer;
}

.btn_soring svg {
  margin-right: 8px;
}



/* ============================ Product Page ======================== */

.file_upload input {
  display: none;
}

.file_upload {
  margin-bottom: 15px;
}

.file_upload label {
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px !important;
  letter-spacing: 0px !important;
  height: 50px;
  width: 100%;
}

/* === Featured Collection === */

@media (max-width: 768px) {
  .section-featured-collection .grid__item {
    width: 100%;
  }
}


/* ======= Account Popup ======== */

.account-popup {
  background: #FFF;
  border-radius: 5px;
  color: #000;
  display: none;
  width: 450px;
  height:fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

@media (max-width: 768px) {
  .account-popup {
    width: 94%;
  }
}

.account-popup .popup-header h2 {
  font-size: 30px;
}

.account-popup .popup-wrapper {
  padding: 45px;
}

@media (max-width: 768px) {
  .account-popup .popup-wrapper {
    padding: 45px 15px;
  }
}

.account-popup.open {
  display: block;
}

.account-popup .popup-form:not(.active) {
  display: none;
}

.account-popup .popup-close {
  cursor: pointer;
}

.account-popup .popup-close svg {
  display: block;
  width: 16px;
  height: auto;
}

.account-popup .popup-tab {
  border-bottom: 1px solid #00000050;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 25px;
  padding-bottom: 8px;
}

.account-popup .popup-tab .popup-tab-item:not(:last-child) {
  margin-right: 20px;
}

.account-popup .popup-tab .popup-tab-item {
  cursor: pointer;
  position: relative;
}

.account-popup .popup-tab .popup-tab-item.active::after {
  content: '';
  background: #000;
  bottom: -9px;
  left: 0px;
  width: 100%;
  height: 1px;
  position: absolute;
}

.account-popup .form-block:not(:last-child) {
  margin-bottom: 15px;
}

.account-popup .form-block input {
  border: 1px solid #000;
  border-radius: 5px;
  height: 48px;
}

.account-popup .recovery_password a {
  text-decoration: underline;
}

.account-popup .btn_wrapper {
  margin-top: 20px;
  padding-left: 45px;
  padding-right: 45px;
}

@media (max-width: 768px) {
  .account-popup .btn_wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.account-popup button {
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.account-popup .form_info {
  font-size: 12px;
}

.account-popup .form_info a {
  text-decoration: underline;
  text-underline-position: under;
}